<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora...
    </ion-title>
  </ion-toolbar>
</ion-header>     

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
      </ion-card-content>
    
      <ion-item>
        <ion-button color="primary">0</ion-button>
        <ion-button color="primary">1</ion-button>
        <ion-button color="primary">2</ion-button>
        <ion-button color="primary">3</ion-button>
        <ion-button color="primary">4</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary">5</ion-button>  
        <ion-button color="primary">6</ion-button>
        <ion-button color="primary">7</ion-button>
        <ion-button color="primary">8</ion-button>
        <ion-button color="primary">9</ion-button>
      </ion-item>
    
    </ion-card>
  </div>
</ion-content>
