<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora 
    </ion-title>
  </ion-toolbar>
</ion-header>     

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input name="campo">{{campo}}</ion-input>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="zerarCampo()" expand="block" color="primary">C</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="primary">+/-</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="primary">%</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="digitarOperacao(' / ')"  expand="block" color="warning">&#247;</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="digitarNumero('7')" expand="block" color="primary">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="digitarNumero('8')" expand="block" color="primary">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="digitarNumero('9')" expand="block" color="primary">9</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="digitarOperacao(' x ')" expand="block" color="warning">x</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-button (click)="digitarNumero('4')" expand="block" color="primary">4</ion-button>
            </ion-col> 
            <ion-col>
              <ion-button (click)="digitarNumero('5')" expand="block" color="primary">5</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="digitarNumero('6')" expand="block" color="primary">6</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="digitarOperacao(' - ')" expand="block" color="warning">-</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-button (click)="digitarNumero('1')" expand="block" color="primary">1</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="digitarNumero('2')" expand="block" color="primary">2</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="digitarNumero('3')" expand="block" color="primary">3</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="digitarOperacao(' + ')" expand="block" color="warning">+</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-button (click)="digitarNumero('0')" size="3" expand="block" color="primary">0</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="digitarNumero(',')"  size="3" expand="block" color="primary">,</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button expand="block" color="warning">=</ion-button>
                </ion-col>
              </ion-row>
      </ion-grid>
  
    
    </ion-card>
  </div>
</ion-content>
